//compileCompressed: ../$1.min.css
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{
    height: 100%;
    body {
        padding: 0px;
        margin: 0px;
        height: 100vh;
        font-family: 'Open Sans';
        background: #7db9e8; /* Old browsers */
        background: -moz-linear-gradient(top, #7db9e8 0%, #ffffff 100%) fixed; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #7db9e8 0%,#ffffff 100%) fixed; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #7db9e8 0%,#ffffff 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#ffffff',GradientType=0 ) fixed; /* IE6-9 */

        .product-image-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.9);
            z-index: 9999;
            display: none;
            .product-image-overlay-close {
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid #eee;
                line-height: 35px;
                font-size: 20px;
                color: #eee;
                text-align: center;
                cursor: pointer;
            }
            img {
                width: auto;
                max-width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        header {
            background-image: url("../images/header.jpg");
            background-position: 0px -70px;
            height: 300px;
            width: 1000px;
            margin: auto;

            nav {
                height: 58px;
                form {
                    display: inline-block;
                    input {
                        display: inline-block;
                        margin: 24px 0px 0px 10px;
                        height: 27px;
                        border: 1px solid #aaa;
                        width: 200px;
                        font-size: 100%;
                        padding-left: 20px;
                    }

                    .searchIcon {
                        margin-left: -200px;
                        margin-top: 27px;
                        position: absolute;
                    }
                }

                ul {
                    display: inline-block;
                    text-align: right;
                    float: right;
                }
            }
        }
        nav {
            width: 1000px;
            background-color: #ff6600;
            margin: -16px auto 0px auto;
            display: block;

            ul {
                padding: 10px 20px 10px 20px;
                text-align: left;

                .right {
                    text-align: right;
                }
                a {
                    text-decoration: none;
                    color: #000;
                }
                li {
                    display: inline;
                    list-style-type: none;
                    padding: 10px 20px 10px 20px;
                    height: 35px;
                    margin: 0px 0px 0px -5px;

                    &:hover {
                        background-color: #ff4400;
                        cursor: pointer;
                    }
                }
                .active {
                    background-color: #ff4400;
                }
            }
        }
        main {
            margin: 0px auto auto auto;
            width: 1000px;
            overflow: hidden;

            .guildPhoto {
                width: 200px;
                height: 200px;
                margin: 10px 10px 0px 0px;
                background: #fff;
                border: 1px solid #000;
                cursor: pointer;
            }
            .warning {
                padding: 20px 20px 20px 70px;
                background-color: #FFD2D3;
                border: 1px solid #DF8F90;
                width: 595px;
                margin: 0px 0px 10px 0px;
                background-image: url("../images/Error.png");
                background-size: 50px 50px;
                background-repeat: no-repeat;
                background-position: 7px 7px;
                display: none;
            }
            form {
                .inputfile {
                	width: 0.1px;
                	height: 0.1px;
                	opacity: 0;
                	overflow: hidden;
                	position: absolute;
                	z-index: -1;
                }
                .submitButton {
                    font-size: 1.25em;
                    font-weight: 700;
                    color: #000;
                    background-color: #ffffff;
                    padding: 10px 20px 10px 20px;
                    display: inline-block;
                    border: 2px solid #fff;
                    margin: -2px 0px 0px 0px;

                    &:hover {
                        background-color: #eeeeee;
                        border: 2px solid #eeeeee;
                        cursor: pointer;
                    }
                }
                label {
                    font-size: 1.25em;
                    font-weight: 700;
                    color: #000;
                    background-color: #ff6600;
                    padding: 10px 20px 10px 20px;
                    display: inline-block;

                    &:hover {
                        background-color: #ff4400;
                        cursor: pointer;
                    }
                }
            }
            aside {
                width: 300px;
                float: right;

                .widget {
                    width: 100%;
                    background: #ffffff;
                    margin: 0px 0px 10px 0px;
                    font-size: 12px;
                    padding: 5px;

                    .discord {
                        ul {
                            padding-left:20px;
                            li {
                                list-style: none;
                                a {
                                    text-decoration: none;
                                    color: #000;
                                    font-weight: bold;
                                    &:hover {
                                        color: #00aaaa;
                                    }
                                }
                                .online {
                                    background: #00aa00;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 5px;
                                    border-radius: 50%;
                                }

                                .idle {
                                    background: #ffff00;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 5px;
                                    border-radius: 50%;
                                }

                                .dnd {
                                    background: #aa0000;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    margin-right: 5px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                    ul {
                        padding-left: 5px;
                        width: 280px;
                        li {
                            list-style: none;

                            .spawn {
                                background-color: #ff0000;
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                            }

                            .time {
                                background-color: #00ffff;
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                            }

                            .overlap {
                                background-color: #0000ff;
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                            }
                        }


                    }
                    p {
                        display: block;
                    }
                    table {
                        width: 290px;
                        margin: 5px 0px 0px 0px;
                        border: 0px;
                        border-collapse: collapse;
                        font-size: 10px;

                        tr {
                            #time {
                                background-color: #ff0000;
                            }

                            #curTime {
                                background-color: #00ffff;
                            }

                            #timeOverlap {
                                background-color: #0000ff;
                            }
                        }
                    }
                    h1 {
                        background: #ff6600;
                        font-size: 18px;
                        margin: -5px 0px 0px -5px;
                    }
                }
            }
            section {
                width: 640px;
                background: #ffffff;
                padding: 20px;
            }
            h1{ margin: 0px; text-align: center;}
            p{display: inline-block; margin: 0px;}
            table{
                background: #fff;
                border: 1px solid black;
                border-collapse: collapse;
                width: 680px;
                font-size: 12px;

                thead { border: 1px solid black; padding: 5px; }
                td { padding: 5px; }
                a{ text-decoration: none; }
            }
        }
        footer {
            border-top: 10px solid #ff6600;
            border-left: 10px solid #ff6600;
            border-right: 10px solid #ff6600;
            background: #fff;
            width: 940px;
            margin: auto;
            padding: 20px;
            font-size: 12px;

            p {
                margin: 0px;
                padding: 0px;
                display: block;
            }
        }
    }
}
